<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <mageb2btab translate="label" module="sublogin">
            <label>MageB2B</label>
            <sort_order>200</sort_order>
        </mageb2btab>
    </tabs>
    <sections>
        <sublogin translate="label" module="sublogin">
            <label>Sublogin</label>
            <tab>mageb2btab</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>

            <groups>
                <email translate="label">
                    <label>Email settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <new translate="label">
                            <label>Email template for newly created sublogins</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </new>

                        <reset_password translate="label">
                            <label>Email template for changed passwords (backend only)</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </reset_password>

                        <expire_refresh translate="label">
                            <label>Email template for expired account refreshing (frontend only)</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </expire_refresh>

                        <send_bcc translate="label">
                            <label>Type in mail address which is bcc</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </send_bcc>

                        <old_forgot translate="label">
                            <label>Use old (1.6.0) password forget method</label>
                            <comment>(=directly send new password in email)</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </old_forgot>
                    </fields>
                </email>
            </groups>
        </sublogin>
    </sections>
</config>
