<?xml version="1.0"?>
<config>
    <modules>
        <Smithandrowe_Profile>
            <version>0.1.6</version>
        </Smithandrowe_Profile>
    </modules>
    <frontend>
        <routers>
            <profile>
                <use>standard</use>
                <args>
                    <module>Smithandrowe_Profile</module>
                    <frontName>profile</frontName>
                </args>
            </profile>
        </routers>
        <layout>
            <updates>
                <profile>
                    <file>profile.xml</file>
                </profile>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <profile>
                <use>admin</use>
                <args>
                    <module>Smithandrowe_Profile</module>
                    <frontName>profile</frontName>
                </args>
            </profile>
        </routers>
    </admin>
    <global>
        <fieldsets>
            <checkout_onepage_quote>
                <customer_trade>
                    <to_customer>trade</to_customer>
                </customer_trade>
                <customer_licencenumber>
                    <to_customer>licencenumber</to_customer>
                </customer_licencenumber>
                <customer_registeredstate>
                    <to_customer>registeredstate</to_customer>
                </customer_registeredstate>
                <customer_companyname>
                    <to_customer>companyname</to_customer>
                </customer_companyname>
                <customer_abn>
                    <to_customer>abn</to_customer>
                </customer_abn>
                <customer_favouritesport>
                    <to_customer>favouritesport</to_customer>
                </customer_favouritesport>
                <customer_favouriteteam>
                    <to_customer>favouriteteam</to_customer>
                </customer_favouriteteam>
                <customer_apprentice>
                    <to_customer>apprentice</to_customer>
                </customer_apprentice>
                <customer_otherinterests>
                    <to_customer>otherinterests</to_customer>
                </customer_otherinterests>
            </checkout_onepage_quote>
            <customer_account>
                <trade>
                    <to_quote>customer_trade</to_quote>
                </trade>
                <licencenumber>
                    <to_quote>customer_licencenumber</to_quote>
                </licencenumber>
                <registeredstate>
                    <to_quote>customer_registeredstate</to_quote>
                </registeredstate>
                <companyname>
                    <to_quote>customer_companyname</to_quote>
                </companyname>
                <abn>
                    <to_quote>customer_abn</to_quote>
                </abn>
                <favouritesport>
                    <to_quote>customer_favouritesport</to_quote>
                </favouritesport>
                <favouriteteam>
                    <to_quote>customer_favouriteteam</to_quote>
                </favouriteteam>
                <apprentice>
                    <to_quote>customer_apprentice</to_quote>
                </apprentice>
                <otherinterests>
                    <to_quote>customer_otherinterests</to_quote>
                </otherinterests>
                <salesrep>
                    <to_quote>customer_salesrep</to_quote>
                </salesrep>
            </customer_account>
        </fieldsets>
    </global>
    <global>
        <fieldsets>
            <customer_account>
                <trade>
                    <create>1</create>
                    <update>1</update>
                    <name>1</name>
                </trade>
                <tradestate>
                    <create>1</create>
                    <update>1</update>
                    <name>1</name>
                </tradestate>
                <employer_name>
                    <create>1</create>
                    <update>1</update>
                </employer_name>
                <license_entity>
                    <create>1</create>
                    <update>1</update>
                </license_entity>
                <trade_year_registered>
                    <create>1</create>
                    <update>1</update>
                </trade_year_registered>
                <tradenumber>
                    <create>1</create>
                    <update>1</update>
                </tradenumber>
                <trade_other>
                    <create>1</create>
                    <update>1</update>
                </trade_other>
                <account_type>
                    <create>1</create>
                    <update>1</update>
                </account_type>
            </customer_account>
        </fieldsets>
    </global>
    <global>
        <resources>
            <profile_setup>
                <setup>
                    <module>Smithandrowe_Profile</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </profile_setup>
            <profile_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </profile_write>
            <profile_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </profile_read>
        </resources>
    </global>
    <global>

        <models>
            <profile>
                <class>Smithandrowe_Profile_Model</class>
                <resourceModel>profile_mysql4</resourceModel>
            </profile>
            <profile_mysql4>
                <class>Smithandrowe_Profile_Model_Mysql4</class>
                <entities>
                    <profile>
                        <table>profile</table>
                    </profile>
                </entities>
            </profile_mysql4>
        </models>
        <blocks>
            <profile>
                <class>Smithandrowe_Profile_Block</class>
            </profile>
            <adminhtml>
                <rewrite>
                    <customer_grid>Smithandrowe_Profile_Adminhtml_Block_Customer_Grid</customer_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <profile>
                <class>Smithandrowe_Profile_Helper</class>
            </profile>
        </helpers>

    </global>
</config>