<?xml version="1.0"?>
<config>
	<modules>
		<SolrBridge_Extend>
			<version>1.0.0</version>
		</SolrBridge_Extend>
	</modules>
	<admin>
		<routers>
			<sbsext_admin>
				<use>admin</use>
				<args>
					<module>SolrBridge_Extend</module>
					<frontName>sbsext_admin</frontName>
				</args>
			</sbsext_admin>
		</routers>
	</admin>
	<frontend>
		<routers>
			<solrsearch>
				<args>
					<modules>
						<solrsearch before="SolrBridge_Solrsearch">SolrBridge_Extend</solrsearch>
					</modules>
				</args>
			</solrsearch>
		</routers>
		<translate>
			<modules>
				<SolrBridge_Extend>
					<files>
						<default>SolrBridge_Extend.csv</default>
					</files>
				</SolrBridge_Extend>
			</modules>
		</translate>
		<layout>
			<updates>
				<sbsext>
					<file>solrsearch_extend.xml</file>
				</sbsext>
			</updates>
		</layout>
	</frontend>
	<global>
		<models>
			<sbsext>
				<class>SolrBridge_Extend_Model</class>
				<resourceModel>sbsext_resource</resourceModel>
			</sbsext>
			<sbsext_resource>
				<class>SolrBridge_Extend_Model_Resource</class>
				<deprecatedNode>sbsext_mysql4</deprecatedNode>
			</sbsext_resource>
			<solrsearch_resource>
				<rewrite>
					<solr>SolrBridge_Extend_Model_Resource_Rewrite_Solrsearch_Solr</solr>
				</rewrite>
			</solrsearch_resource>
			<solrsearch>
				<rewrite>
					<data>SolrBridge_Extend_Model_Rewrite_Data</data>
				</rewrite>
				<rewrite>
					<solr>SolrBridge_Extend_Model_Solr_Product</solr>
				</rewrite>
			</solrsearch>
		</models>
		<resources>
			<sbsext_setup>
				<setup>
					<module>SolrBridge_Extend</module>
				</setup>
			</sbsext_setup>
		</resources>
		<blocks>
			<sbsext>
				<class>SolrBridge_Extend_Block</class>
			</sbsext>
		</blocks>
		<helpers>
			<sbsext>
				<class>SolrBridge_Extend_Helper</class>
			</sbsext>
		</helpers>
	</global>
	<adminhtml>
		<layout>
			<updates>
				<sbsext>
					<file>solrsearch_extend.xml</file>
				</sbsext>
			</updates>
		</layout>
		<events>
			<admin_system_config_changed_section_sbsext>
				<observers>
					<sbsext>
						<class>sbsext/observer</class>
						<method>generateStaticConfig</method>
					</sbsext>
				</observers>
			</admin_system_config_changed_section_sbsext>
			<admin_system_config_changed_section_solrbridge>
			<observers>
				<sbsext>
					<class>sbsext/observer</class>
					<method>generateStaticConfig</method>
				</sbsext>
			</observers>
		</admin_system_config_changed_section_solrbridge>
		</events>
	</adminhtml>
	<default>
		<solrbridge>
			<sbsext>
				<allow_cmspage_search>0</allow_cmspage_search>
				<allow_cmspage_search_autocomplete>0</allow_cmspage_search_autocomplete>
				<allow_blog_search>0</allow_blog_search>
				<allow_blog_search_autocomplete>0</allow_blog_search_autocomplete>
			</sbsext>
		</solrbridge>
	</default>
</config>