<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Smithandrowe_Backgroundimages>
			<version>0.1.1</version>
		</Smithandrowe_Backgroundimages>
	</modules>
	<global>
		<models>
			<backgroundimages>
				<class>Smithandrowe_Backgroundimages_Model</class>
			</backgroundimages>
		</models>
		<helpers>
			<backgroundimages>
				<class>Smithandrowe_Backgroundimages_Helper</class>
			</backgroundimages>
		</helpers>
		<resources>
			<backgroundimages_setup>
				<setup>
					<module>Smithandrowe_Backgroundimages</module>
					<class>Smithandrowe_Backgroundimages_Model_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</backgroundimages_setup>
			<backgroundimages_write>
				<connection>
					<use>core_write</use>
				</connection>
			</backgroundimages_write>
			<backgroundimages_read>
				<connection>
					<use>core_read</use>
				</connection>
			</backgroundimages_read>
		</resources>
		<blocks>
			<backgroundimages>
				<class>Smithandrowe_Backgroundimages_Block</class>
			</backgroundimages>
			<adminhtml>
				<rewrite>
					<cms_page_edit_form>Smithandrowe_Backgroundimages_Block_Adminhtml_Cms_Page_Edit_Form</cms_page_edit_form>
				</rewrite>
			</adminhtml>
		</blocks>
	</global>
	<adminhtml>
		<events>
			<cms_page_prepare_save>
				<observers>
					<smithandrowe_backgroundimages_save_page>
						<type>singleton</type>
						<class>backgroundimages/observer</class>
						<method>savePage</method>
					</smithandrowe_backgroundimages_save_page>
				</observers>
			</cms_page_prepare_save>
			<adminhtml_cms_page_edit_tab_main_prepare_form>
				<observers>
					<smithandrowe_backgroundimages_prepare_form>
						<type>singleton</type>
						<class>backgroundimages/observer</class>
						<method>prepareForm</method>
					</smithandrowe_backgroundimages_prepare_form>
				</observers>
			</adminhtml_cms_page_edit_tab_main_prepare_form>
		</events>
	</adminhtml>
</config>