<?xml version="1.0"?>
<config>
    <modules>
        <Smithandrowe_PriceToolbar>
            <version>1.0.0</version>
        </Smithandrowe_PriceToolbar>
    </modules>
    <global>
        <helpers>
            <smithandrowe_pricetoolbar>
                <class>Smithandrowe_PriceToolbar_Helper</class>
            </smithandrowe_pricetoolbar>
        </helpers>
        <models>
            <smithandrowe_pricetoolbar>
                <class>Smithandrowe_PriceToolbar_Model</class>
            </smithandrowe_pricetoolbar>
        </models>
        <blocks>
            <smithandrowe_pricetoolbar>
                <class>Smithandrowe_PriceToolbar_Block</class>
            </smithandrowe_pricetoolbar>
        </blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <pricetoolbar>
                    <file>smithandrowe_pricetoolbar.xml</file>
                </pricetoolbar>
            </updates>
        </layout>
        <routers>
            <pricetoolbar_router>
                <use>standard</use>
                <args>
                    <module>Smithandrowe_PriceToolbar</module>
                    <frontName>set-price</frontName>
                </args>
            </pricetoolbar_router>
        </routers>
    </frontend>
</config>